$primary_color :  white ;
.foot
{
    font-size: 0.9em;
    background-color: $primary_color;
    width:100vw;
    color : black;
    display: grid;
    grid-template-columns: 10% auto auto auto;
    grid-column-gap: 5vw;
    border-top: 1px solid rgba(0,0,0,0.1);

 
    left:0;
    z-index: 3;
    padding:4rem 10vw;
    
 

    div
    {
      
      color:black;
      img{
        padding: 0;
        margin: 0;
        width: 100%;
       
      }
      table{
        tr{
          td{
            a{
              color:black;
            }
            
          }
        }
      }

      ul{
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          padding: 0;
          margin: 0;
          
          a{
            color:black;
            padding: 0;
            margin: 0;
            font-size: 20px;
            opacity: 0.5;
            
          }
        }
      }
    }
    
}

 


.links , .dwn
{
   h4{
     font-size:24px; 
     color:black;
     font-weight: bold;
   }

    
 
}

.dwn{
  color: black;
  font-size: 20px;
  p{
    opacity: 0.5;

    
  }
   
}

 