 
 

.head {
    position:fixed;
    width:100vw;
    top:0;
    left: 0;
    right:0;
    background-color:white;
    color:gray;
    display: grid;
    justify-items: center;
    
    font-size: 1.25rem;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    padding:1.5rem 10vw;
    z-index: 300000000000;
   a ,a:hover{
       color : rgba(0,0,0,0.4);
       
       margin:0 0 0 2.6vw;
       font-weight: 600;
       text-decoration: none;
   }

   .active , .active:hover{
       color:black;
       border-bottom: 2px solid #FFDC25;
       padding-bottom: 4px;
       text-decoration: none;

   }

  
 

}

 
 
