@mixin desktop {
    @media(max-width: 960px)
    {
        @content;
    }
    
}

$padding : 96px 10vw ;



$background :rgb(247, 247, 247);



.Abt{
   
  
    h3{
        font-size: 28px;
        color:black;
        font-weight: 1000;
        padding-bottom: 36px;
        border-bottom: 4px solid darkgray;
        display:inline-block;
        text-align: center;
        
    }

    h4{

       font-size: 24px;
        color:black;
        font-weight: 800;
        padding: 48px 0 48px 0;
        opacity: 0.5;

       
    }

    .text{
        text-align: justify;
 
        color:black;
        font-size :18px;
        padding:$padding ;

        p{
            padding-top:36px;
        }

      

     
    }

}




   
 






.talk{
    padding:$padding ;
    color:black;
    font-size:1.25rem;

    @include desktop{
        padding : 48px 1rem ;  
         
    }

    .h3{
        font-size: 24px;
        color:black;
        font-weight: 800;
        padding: 48px 0 12px 0;
        opacity: 0.5;
    }

}