@mixin desktop {
    @media(max-width: 960px)
    {
        @content;
    }
    
}

$padding : 6rem 10vw ;



$background :rgb(247, 247, 247);



.Abt{
   
  
    h3{
        font-size: 1.75rem;
        color:black;
        font-weight: 1000;
        padding-bottom: 2.25rem;
        border-bottom: 0.25rem solid darkgray;
        display:inline-block;
        text-align: center;
        
    }

    h4{

       font-size: 1.5rem;
        color:black;
        font-weight: 800;
        padding: 3rem 0 3rem 0;
        opacity: 0.5;

       
    }

    .text{
        text-align: justify;
 
        color:black;
        font-size :1.125rem;
        padding:$padding ;

        p{
            padding-top:2.25rem;
        }

      

     
    }

}




   
 






.talk{
    padding:$padding ;
    color:black;
    font-size:1.25rem;

    @include desktop{
        padding : 48px 1rem ;  
         
    }

    .h3{
        font-size: 24px;
        color:black;
        font-weight: 800;
        padding: 48px 0 12px 0;
        opacity: 0.5;
    }

}