
$padding : 72px 10vw;
.events{

    padding: $padding;
    background: white;
    min-height: 81vh;
    h2{
        font-size: 28px;
        color:black;
        font-weight: 1000;
        padding-bottom: 36px;
        border-bottom: 4px solid darkgray;
        display:inline-block;
        text-align: center;
        margin-bottom: 36px;
    }

   
}
.events_array{

    display: grid;
    padding-top:36px;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5vw;
    grid-row-gap: calc(20px + 2vh);
 
    .event_unit{
        background-color: rgb(247, 247, 247);
        padding-bottom: calc( 10px + 1vh );
        img{
            width: 100%;
        }
        h3{
            text-align: center;
            padding-top:calc( 10px + 1vh );
        }
    }
}
