
@mixin desktop {
    @media(max-width: 960px)
    {
        @content;
    }
    
}

.faci_h3{
    font-size: 28px;
    color:black;
    font-weight: 1000;
    padding-bottom: 36px;
    
    padding-top:48px;
    border-bottom: 4px solid darkgray;
    display:inline-block;
    text-align: center;
    
}
    
.main_faci{
    padding:36px 10vw;
    column-count: 2;
    column-gap: 0rem;

    @include desktop{
        column-count: 1;
        padding:36px 0.5rem;
    }

  
}
 
.Machines
{

  
    display: inline-block;
    margin: 1rem;
    padding:3rem;

    @include desktop{
         
        padding:0.5rem;
    }

    background: rgb(247, 247, 247);
   
    h4{
        font-weight: bold;
        margin-bottom:18px;
        font-size:24px;
    }

    @include desktop{
   
       font-size:1rem;
       
     }

    div
    {
      
        div
        {
            
            font-size: 1.3rem;
            color:black;
            img{
                width:100%;
                padding-bottom: 1rem;
                @include desktop{
                    width:90%;
                 
                   
                 }
            }
            text-align: justify;
           
 
        }

      
    }
}

 