 .gal {
    column-count: 3;
    column-gap: 0;
    padding:48px 10vw;

     div {
         background-color: #eee;
         display: inline-block;
         
         width: 100%;

         img {
             width: 100%;
             margin: 0;
             border : 2px solid rgba(57,57,57,0.1);
             
         }
     }


 }