.patent_array{
    
    color:black;

    div:nth-child(2n){
        background: rgb(247, 247, 247);
    }

    .patent_unit{
        padding:72px 10vw;
        p:first-child{
            text-align: center;
            font-size:26px;
            font-weight: bold;
        }

        p:nth-child(2){
            text-align: justify;
            font-size: 20px;
            opacity: 0.5;
        }

        .patent_no{
            font-size: 18px;
        }

        .by{
            float: right;
            font-size: 18px;
            font-style: italic;
            
            
        }
    }


}

