@mixin desktop {
    @media(max-width: 960px)
    {
        @content;
    }
    
}


.research
{
    padding : 4.5rem 10vw ;
    .Project{

        table{
            tr{
                td ,th {
                    font-size:1.1rem;
                   
                    color:black;
                  
                }
            }
            min-height: 79.5vh;
        }


        min-height: 67vh;

        @include desktop{

             min-height: 1vh;
         }
        
     
    }
   
}