body ,html
{
    padding:0;
    margin:0;
    overflow-x: hidden;

}
 
.main{
  
}
 

h1
{
    font-size : 1.8rem;

}

h2 
{
    font-size: 1.6rem;

}

h3
{
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}


@media screen and (max-width: 960px) {
    .main
    {
        margin:0  ;
        padding-top:4.5rem;
        overflow-x: hidden;
        font-size: 1rem;
    
    }


    h1
{
    font-size : 1.6rem;

}

h2 
{
    font-size: 1.4rem;

}

h3
{
    font-size: 1.2rem;
}

h4 {
    font-size: 1.0rem;
}

}